@import kube
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700')

//  IBM Plex Font : https://ibm.github.io/type/
@font-face 
	font-family: 'IBMPlexSans'
	src: url('../fonts/IBMPlex/woff/IBMPlexSans-Regular-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexSans-Regular-Latin1.woff2') format('woff2')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'IBMPlexSans'
	src: url('../fonts/IBMPlex/woff/IBMPlexSans-Italic-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexSans-Italic-Latin1.woff2') format('woff2')
	font-weight: normal
	font-style: italic

@font-face 
	font-family: 'IBMPlexSans'
	src: url('../fonts/IBMPlex/woff/IBMPlexSans-Light-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexSans-Light-Latin1.woff2') format('woff2')
	font-weight: 200
	font-style: normal

@font-face 
	font-family: 'IBMPlexSans'
	src: url('../fonts/IBMPlex/woff/IBMPlexSans-LightItalic-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexSans-LightItalic-Latin1.woff2') format('woff2')
	font-weight: 200
	font-style: italic

@font-face 
	font-family: 'IBMPlexSans'
	src: url('../fonts/IBMPlex/woff/IBMPlexSans-SemiBold-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexSans-SemiBold-Latin1.woff2') format('woff2')
	font-weight: 500
	font-style: normal

@font-face 
	font-family: 'IBMPlexSans'
	src: url('../fonts/IBMPlex/woff/IBMPlexSans-SemiBoldItalic-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexSans-SemiBoldItalic-Latin1.woff2') format('woff2')
	font-weight: 500
	font-style: italic

@font-face 
	font-family: 'IBMPlexMono'
	src: url('../fonts/IBMPlex/woff/IBMPlexMono-Light-Latin1.woff') format('woff'),	url('../fonts/IBMPlex/woff2/IBMPlexMono-Light-Latin1.woff2') format('woff2')
	font-weight: 200
	font-style: normal


.button
	margin: 5px 10px 5px 0px

.button.yellow
	@include button(#000, $color-warning) // $text-color, $back-color

.button.black
	@include button(#000, $color-black) // $text-color, $back-color

html 
	background-color: $color-aluminum
	height : 100vh

	body
		height : 100vh
		font-family: 'IBMPlexSans' 

		.button, button, h1, h1.title, h2, h3, h4, h5, h6
			font-family: 'IBMPlexSans' 

		code[class*="language-"], pre[class*="language-"]
			font-family: 'IBMPlexMono'
			font-weight: 200
			
		#bgAnimation
			position: fixed
			top: 0
			z-index: -100

		#content-inner, #content-outer	
			// height : 100vh

		.container
			min-height : 100vh
			width: 100%
			padding: 2em


		#hero-logo
			width: 200px
			height: 104px
			margin-left: -55px
			margin-bottom: 10px

		.title
			margin-left: -3px
		
		.bar
			content: ''
			margin: 20px 0px 0px 0px
			width: 38px
			height: 5px
			background: $color-warning
			z-index: -10

		#shadow
			position: fixed
			content: ''
			top: 85%
			width: 100%
			height: 30px
			background: rgba(37, 37, 37, 0.12)
			z-index: -10
			border-radius: 50%
			-webkit-filter: blur(30px) /* Safari */
			filter: blur(30px)

		// Nav
		#top-nav
			padding: 2em 10em 4em 10em
			a
				text-decoration: none
				color: #000
				font-size: 1em
				margin: 0 1em
		#mobile-nav
			display: none
		.offcanvas
			li
				margin: 2em 0
				font-size: 1.1em
			a
				text-decoration: none
				color: #000

		.archive-list
			margin-top: 3em
			.archive-list-item
				margin: 0.5em 0
				a
					text-decoration: none
					color: #000
					font-size: 1em
				sup
					padding: 0em 1em
		
		.filters
			margin: 5em 0em
		
		.archive-filter
			margin-top: 1em
			.filter-title
				width: 100%
			li
				margin: 0 0.5em

		// pagination
		.pagination a.muted
			opacity: 0.2
		.pagination a.muted:hover
			border-color: transparent
		
		// Posts
		#post
			margin-top: 2em

		h5.date, h5.authors
			font-size: 0.95em
			// line-height: 12px
			font-style: italic
			color: #aaa
			font-weight: 100
			letter-spacing: 0.4px

		h5.date
			font-weight: 100
			margin-top: 1em
			margin-bottom: 0em

		// Video embeds
		.embed-container, .embed-responsive
			position: relative
			padding-bottom: 56.25%
			height: 0
			overflow: hidden
			max-width: 100%
			margin: 3em 0

		.embed-responsive-item
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

		.quote
			// font-family: 'Roboto Slab', monospace
			font-size: 1.5em
			font-weight: 500
			line-height: 1.15em
			// font-style: italic
			text-align: center
			padding: 0em 2em
			// color: $color-warning

		ul.cols
			margin: 0 0
			li
				margin: 20px 0
				list-style: none
				padding: 0em 0em 0.5em 0em
			.quote
				padding: 0em 2em
		
		pre code
			background: none
		// Default Code Highlight CSS 
		// pre, td, th
		// 	padding: 0em 0.2em
		// figure
		// 	margin: 3em 0
		// figure pre
		// 	margin-bottom: 0
		// .gutter pre
		// 	border: none
		// .code pre
		// 	padding: 0em 1em
		// .line
		// 	height: 20px
@media screen and (max-width: 1200px) 
	.content-wrapper
		width: 80% 	

@media screen and (max-width: 800px) 
	body
		width: 100%
	#hero-logo
		margin-left: 0px !important

	#top-nav
		display: none

	#mobile-nav
		display: block !important
		padding: 1em 1em
		width: 3em
		text-decoration: none
	
	.container 
		padding: 0em 1em !important

	.quote
		padding: 0em 0em !important
