
extends includes/layout.pug

block content
	- var categoriesList = list_categories({ show_count: false })
	- var tagsList = list_tags({ show_count: false })
	- var archivesList = list_archives({ show_count: false })

	.row.container
		include includes/nav.pug
		.col.col-6.push-center.content-wrapper
			.row.bar
			.row
				h1.title Case Studies
			.col.col-12.filters
				.row.archive-filter
					h4.filter-title Urban Scenarios
					ul
						li.label.upper.outline.focus Show All
						li.label.upper.base.success Present
						li.label.upper.outline Future
				.row.archive-filter
					h4.filter-title Cities
					ul
						li.label.upper.outline.focus Show All
						li.label.upper.outline San Juan
						li.label.upper.base.success New York City
						li.label.upper.outline Valdivia
						li.label.upper.outline Baltimore
						li.label.upper.outline Miami
						li.label.upper.outline Phoenix
						li.label.upper.outline Portland
						li.label.upper.outline Syracuse
						li.label.upper.outline Hermosillo
				


			.row.archive-list
				- page.posts.each(function(article){
					.archive-list-item.col-12
						if article.link
							a(href=url_for(article.link) target="_blank")= article.title || 'No Title'
						else
							.row
								a.strong(href=url_for(article.path))= article.title || 'No Title'
								sup: time(datetime=date_xml(article.date))= date(article.date)
				- })
		include includes/pagination-archive.pug

		//- if !is_year()

		//- 	h1 Archives

		//- 	if theme.atom
		//- 		p The feed is available via&nbsp;
		//- 			a(href=theme.atom) atom
		//- 			span .
		//- 		br

		//- 	aside
		//- 		h2 Categories
		//- 		if categoriesList
		//- 			!= categoriesList
		//- 		else
		//- 			p None.
		//- 	br

		//- 	aside
		//- 		h2 Tags
		//- 		if tagsList
		//- 			!= tagsList
		//- 		else
		//- 			p None.
		//- 	br

		//- 	aside
		//- 		h2 Archives
		//- 		if archivesList
		//- 			!= archivesList
		//- 		else
		//- 			p None.
		//- 	br

		//- else

		//- h1= page.month + '/' + page.year