extends includes/layout.pug

block content
	.row.container
		include includes/nav.pug
		.col.col-6.push-center
			.row.bar
			.row
				h1.title= page.title
			.row
				h5.date= date(page.date)
			.row
				h5.authors= page.authors
			.row
				.col.col-12
					article#post
					!= page.content
			include includes/pagination-post.pug